<footer>
    <div class="footer-container">
        <div class="logo">yachtjet</div>
        <ul class="nav-links">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#yachts">YACHTS</a></li>
            <li><a href="#reviews">REVIEWS</a></li>
        </ul>
        <div class="social-links">
            <ul class="footer-social-list">
    <li class="footer-social-item"><a class="footer-social-link" href="https://www.instagram.com/goitclub/">
      <svg class="social-icons" width="19" height="19">
      <use href="../img/symbol-defs#icon-instagram.svg"></use>
    </svg></a></li>
    <li class="footer-social-item"><a class="social-link footer-social-link" href="https://www.youtube.com/c/GoIT">
      <svg class="social-icons" width="19" height="19">
      <use href="../img/symbol-defs#icon-youtube.svg"></use>
    </svg></a></li>
    <li class="footer-social-item"><a class="social-link footer-social-link" href="https://www.facebook.com/goITclub/">
      <svg class="social-icons" width="19" height="19">
      <use href="../img/symbol-defs#icon-facebook.svg"></use>
    </svg></a></li>
    </ul>
        </div>
        <p class="footer-text">
            No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.
        </p>
        <div class="footer-bottom">
            <p>2023. Yacht Adventures</p>
            <p><a href="#">Privacy Policy</a></p>
        </div>
    </div>
</footer>


 <div class="social-container"><p class="footer-social-text">Social media</p>
   <ul class="social-list footer-social-list">
    <li class="footer-social-item"><a class="social-link footer-social-link" href="">
      <svg class="social-icons" width="24" height="24">
      <use href="./images/icons.svg#icon-instagram"></use>
    </svg></a></li>
    <li class="footer-social-item"><a class="social-link footer-social-link" href="">
      <svg class="social-icons" width="24" height="24">
      <use href="./images/icons.svg#icon-twitter"></use>
    </svg></a></li>
    <li class="footer-social-item"><a class="social-link footer-social-link" href="">
      <svg class="social-icons" width="24" height="24">
      <use href="./images/icons.svg#icon-facebook"></use>
    </svg></a></li>
    <li class="footer-social-item"><a class="social-link footer-social-link" href="">
      <svg class="social-icons" width="24" height="24">
      <use href="./images/icons.svg#icon-linkedin"></use>
    </svg></a></li>
   </ul></div> 
   